html,
body {
  height: 100%;
  background-color: #fefefe;
}

body {
  color: #000;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.jumbotron {
    color: #000;
    background-image: url("assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.lead {
    color: #000;
}

.cover-heading {
    font-family: 'Roboto Slab', serif;
    color: #000;
    animation: fadeInUp;
    animation-duration: 3s;
}

.icons {
    position: sticky;
}

.icons ul {
   list-style: none;
    margin: 0;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  
.icons li {
    color: #000;
    display: block;
    padding: 5px 0;
  }
  
.icons li i {
    color: #000;
    font-size: 0.8rem;
  }
  
.icons li:hover, .icons li:focus{
    color: #333;
  }

#sidebar {
    position: absolute;
    right: 1%;
    top: 5%;
}

.cover {
    padding: 0 1.5rem;
}

.liberty {
  margin-top: 10rem;
  margin-left: 6rem;
  margin-right: -3rem;
  animation: shakeY;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.foot {
  font-family: 'Roboto slab', serif;
  background-color: #d3504c;
  text-shadow: none;
}

.white {
  color: #fefefe;
}